GROQ_API_KEY=YOUR_GROQ_API_KEY

GROQ_MODEL=openai/gpt-oss-120b

API_SECRET_KEY=PUT_YOUR_RANDOM_SECRET_HERE

ADMIN_PASSWORD =MyStrongAdminPassword
MONGODB_URI= mongodb+srv://<db_username>:<db_password>@cluster0db.rsnllzj.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0db
MONGODB_DATABASE=medical_rag
MONGODB_COLLECTION=chat_history


LANGSMITH_API_KEY=YOUR_LANGSMITH_API_KEY

LANGSMITH_TRACING=true

LANGSMITH_PROJECT=medical-rag-chatbot
API_URL=http://127.0.0.1:8000